PAYU_MERCHANT_KEY=your_merchant_key
PAYU_MERCHANT_SECRET=your_merchant_secret
PAYU_MERCHANT_SALT=your_merchant_salt
PAYU_CHECKOUT_API_URL=https://apitest.payu.in
PAYU_ELEMENTS_SDK_URL=https://jssdk-uat.payu.in/checkout/payu-checkout-elements.umd.js
PAYU_AMOUNT=100
PAYU_PRODUCTINFO=Tickets
